body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

.like{
	background-image: url('../images/corazon.png');
	cursor: pointer;
	width: 100px;
	height: 100px;
}

.like.is-liked{
	animation-name: like;
	animation-duration: 1s;
	animation-timing-function: steps(28);
	/*background-position: -2800px 0;*/
	/*background-position: right;*/
	animation-fill-mode: forwards;	
}

@keyframes like {
	0% {
		background-position: 0 0;
	}
	100% {
		/*background-position: -2800px 0;*/
		background-position: right;
	}
}
