body{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}

.like{
	background-image: url('../images/corazon.png');
	cursor: pointer;
	width: 100px;
	height: 100px;
	animation-name: like;
	animation-duration: 1s;
	animation-timing-function: steps(29);
}

@keyframes like {
	0% {
		background-position: 0 0;
	}
	100% {
		background-position: -2900px 0;
	}
}
